* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ff666a;
}

nav {
  height: 70px;
  background-color: rgba(124, 124, 124, 0.212);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.title {
  color: #ffff;
  font-weight: 600;
  font-size: 32px;
  text-decoration: none;
}

.title:hover {
  cursor: pointer;
}

.circle-perfil {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-repeat: no-repeat, repeat-x;
  background-size: 50px 50px;
  background-position: center center;
}

.circle-perfil:hover,
.circle-perfil:focus {
  transform: translateX(100px) translateY(100px) scale(5);
  border-radius: 5%;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  background-size: 0;
  background-position: left top;
  cursor: inherit;
}

.content-menu {
  margin-top: 3px;
  width: 95%;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.content-menu > a {
  margin-top: 3px;
  color: #1c1c1c;
  text-decoration: none;
}

.img-user {
  width: 50px;
}

.circle-perfil:hover .content-menu {
  visibility: visible;
  font-size: 4px;
}

.circle-perfil:hover .img-user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 3vh;
  width: 50vw;
  border-radius: 10px;
  background-color: #ffff;
}

.newTodo {
  min-height: 190px;
  height: 26vh;
  min-width: 355px;
}

.newTodo > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newTodo > form > input {
  border: 2px solid #ff666a;
  border-radius: 10px;
  width: 30vw;
  margin-top: 2vh;
}

.newTodo > form > input#title {
  height: 5vh;
  min-width: 250px;
}

.newTodo > form > input#desc {
  height: 10vh;
  min-width: 250px;
}

.newTodo > form > input.submit {
  border: 0;
  height: 3vh;
  width: 5vw;
  min-width: 50px;
  min-height: 25px;
  align-self: flex-end;
  margin-right: 10vw;
  background-color: #ff666a;
}

.contentToDo {
  display: flex;
  flex-direction: column;
  min-width: 355px;
  min-height: 30vh;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2vh;
}

.to-do {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  border: 2px solid #ff666a;
  padding: 1vh 2.5vw 2vh 2.5vw;
  margin-top: 3vh;
  border-radius: 10px;
  cursor: pointer;
}

.to-do:hover {
  background-color: #ffe1e1;
}

.to-do.done:hover {
  background-color: #fff;
}

.to-do > label {
  font-weight: 600;
  font-size: 20px;
}

.to-do > p {
  font-weight: 400;
  font-size: 16px;
  color: #747474;
  margin-bottom: auto;
}

hr {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  color: black;
  border: 1px solid black;
}

.to-do.done {
  border: 2px solid #232323;
  background-color: #e2e2e2;
}

.to-do.done > label {
  color: #747474;
}

.to-do.done > p {
  color: #bcbcbc;
}

.buttonsTodo {
  position: relative;
  flex-direction: coolumn;
}

.btn-trash {
  position: absolute;
  right: -1.7vw;
  top: -1vh;
  height: 30px;
  width: 30px;
}

.btn-trash:hover {
  cursor: pointer;
  fill: red;
  fill: red;
}

.btn-done {
  position: absolute;
  right: -3.5vw;
  top: 11vh;
  height: 30px;
  width: 30px;
}

.btn-done:hover {
  cursor: pointer;
}

.to-do > .X {
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  visibility: hidden;
}

.to-do.done > .X {
  visibility: visible;
  pointer: absolute;
  margin-left: 30%;
  z-index: 1;
}